.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.item {
    width: 200px;
    height: 100px;
    border: solid;
    margin: 20px;
}

#item_1 {
    order: 4;
}

#item_2 {
    order: 2;
}

#item_3 {
    order: 3;
}

#item_4 {
    order: 1;
}